In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
vine_data_to_load = "vine_table.csv"

# Read in and store in pandas
vine_df = pd.read_csv(vine_data_to_load)

# Check
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R10009GL6PAAAW,5.0,0.0,0.0,N,Y
1,R1006JQWUSRBNN,5.0,2.0,2.0,N,Y
2,R1008DD0C9NX9Z,5.0,5.0,5.0,N,Y
3,R100AR6CZ42VWH,5.0,0.0,0.0,N,Y
4,R1010416UKW5ZU,5.0,2.0,2.0,N,Y
...,...,...,...,...,...,...
4850355,RZZP0GYZFSMP9,1.0,1.0,1.0,N,Y
4850356,RZZPMADFJR6CA,5.0,1.0,1.0,N,Y
4850357,RZZRW7988A5FN,5.0,0.0,0.0,N,Y
4850358,RZZTS844XM49G,3.0,0.0,0.0,N,Y
4850359,RZZYFIB8ZK4TB,5.0,0.0,0.0,N,Y

In [2]:
# Filter the data and create a new DataFrame (total_votes count >= 20)
twenty_plus_votes = vine_df[vine_df["total_votes"] >= 20]
twenty_plus_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
13,R101U43115T1IP,5.0,36.0,39.0,N,Y
163,R10FO62H0SFS54,4.0,22.0,24.0,N,N
244,R10X4XU5VZO3F2,5.0,39.0,40.0,N,N
316,R10MQKQ3M27SNK,5.0,22.0,22.0,N,Y
348,R10S42W67DZT1,3.0,22.0,24.0,N,Y
...,...,...,...,...,...,...
4850038,RYX0ZNWS1ZG8D,5.0,41.0,43.0,N,Y
4850241,RZW41I4Z8B40H,1.0,48.0,65.0,N,Y
4850285,RZIGEJQNTTHZ2,5.0,20.0,21.0,N,Y
4850317,RZQ6O7ZZTSFFG,4.0,102.0,105.0,N,Y
4850352,RZYCR3I4Y8V9J,1.0,19.0,21.0,N,N

In [3]:
# Filter the new DataFrame to retrieve all the rows where helpful_votes / total_votes >= 50%
fifty_percent_or_more_helpful = twenty_plus_votes[twenty_plus_votes["helpful_votes"] / twenty_plus_votes["total_votes"] >= 0.5]
fifty_percent_or_more_helpful

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
13,R101U43115T1IP,5.0,36.0,39.0,N,Y
163,R10FO62H0SFS54,4.0,22.0,24.0,N,N
244,R10X4XU5VZO3F2,5.0,39.0,40.0,N,N
316,R10MQKQ3M27SNK,5.0,22.0,22.0,N,Y
348,R10S42W67DZT1,3.0,22.0,24.0,N,Y
...,...,...,...,...,...,...
4850038,RYX0ZNWS1ZG8D,5.0,41.0,43.0,N,Y
4850241,RZW41I4Z8B40H,1.0,48.0,65.0,N,Y
4850285,RZIGEJQNTTHZ2,5.0,20.0,21.0,N,Y
4850317,RZQ6O7ZZTSFFG,4.0,102.0,105.0,N,Y
4850352,RZYCR3I4Y8V9J,1.0,19.0,21.0,N,N

In [4]:
# Filter the last DataFrame to show only vine program = Y
vine_program_paid = fifty_percent_or_more_helpful[fifty_percent_or_more_helpful["vine"] == "Y"]

# Repeat for vine program = N
vine_program_unpaid = fifty_percent_or_more_helpful[fifty_percent_or_more_helpful["vine"] == "N"]

In [5]:
# PRACTICE: Check nulls on full vine_df
vine_df.isnull().sum()

review_id              0
star_rating          797
helpful_votes        797
total_votes          797
vine                 797
verified_purchase    797
dtype: int64

In [6]:
# PRACTICE: Total number of reviews without dropping
total_reviews_raw = len(vine_df)
print(f"{total_reviews_raw:,}")

4,850,360

In [7]:
# PRACTICE: Total number of reviews after dropping (shows a difference of 797 as expected)
clean_vine_df = vine_df.dropna()
final_reviews = len(clean_vine_df)
print(f"{final_reviews:,}")

4,849,563

In [24]:
# Total number of reviews on filterd dataset (should match rows above)
total_reviews = len(fifty_percent_or_more_helpful)
print(f"{total_reviews:,}")

61,948

In [25]:
# Number of 5-star reviews (could also use len, but decided to use count())
five_star_reviews = fifty_percent_or_more_helpful[fifty_percent_or_more_helpful["star_rating"] == 5]["star_rating"].count()
print(f"{five_star_reviews:,}")

32,804

In [30]:
# Percentage of 5-star reviews for paid
five_star_paid = vine_program_paid[vine_program_paid["star_rating"] == 5]["star_rating"].count()
five_star_paid_percentage_total = five_star_paid / total_reviews
five_star_paid_percentage_five_star = five_star_paid / five_star_reviews
print(f"Five Star Paid % of Total: {five_star_paid_percentage_total:.2%}")
print(f"Five Star Paid % of Five Star Reviews Only: {five_star_paid_percentage_five_star:.2%}")

Five Star Paid % of Total: 0.22%
Five Star Paid % of Five Star Reviews Only: 0.42%

In [31]:
# Percentage of 5-star reviews for unpaid
five_star_unpaid = vine_program_unpaid[vine_program_unpaid["star_rating"] == 5]["star_rating"].count()
five_star_unpaid_percentage_total = five_star_unpaid / total_reviews
five_star_unpaid_percentage_five_star = five_star_unpaid / five_star_reviews
print(f"Five Star Unpaid % of Total: {five_star_unpaid_percentage_total:.2%}")
print(f"Five Star Unpaid % of Five Star Reviews Only: {five_star_unpaid_percentage_five_star:.2%}")

Five Star Unpaid % of Total: 52.73%
Five Star Unpaid % of Five Star Reviews Only: 99.58%

In [47]:
# Check 0 and 0
print(f'{total_reviews - len(fifty_percent_or_more_helpful[fifty_percent_or_more_helpful["star_rating"] != 5]) - five_star_paid - five_star_unpaid} \
and {five_star_reviews - five_star_paid - five_star_unpaid}, everything ties')

0 and 0, everything ties